{% extends "main.html" %}

{% block content %}
<div class="container">
    <form id="participant-form">
		{% csrf_token %}
		{% for field in form %}
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">
			<strong>{{ field.label }}</strong>
			</label>
			<div class="col-sm-10">
			{{ field }}
			</div>
		</div>
		{% endfor %}
		<div class="form-group row">
		<input type="submit" class="btn btn-primary" value="Create Participant" />
		</div>
    <form>
</div>

<p id="test1">This is a paragraph.</p>




{% endblock content %}

{% block javascript %}
<script>
    $("#participant-form").submit(function (e) {
        // preventing default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();

        // Ajax Call
        $.ajax({
            type: 'POST',
            url: "{% url 'post_participant' %}",
            data: serializedData,

			// handle a successful response
            success: function (response) {
                // On successful, clear all form data
                //$("#participant-form").trigger('reset');



                // Display new participant to table
                var instance = JSON.parse(response["instance"]);
                var fields = instance[0]["fields"];

				// writing the output field

                $("#test1").text(fields["height"]||"");

            },
            error: function (response) {
                // alert non successful response
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>
{% endblock javascript %}